<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/dogeswag.jpg">

    <title>Budget Nutrition</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/c.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style type="text/css" id="holderjs-style"></style></head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Budget Nutrition</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/food/">Calculator</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="splash">
      <div class="container theme-showcase" role="main">

        <div class="jumbotron">
          <h1>Calculator</h1>
          <div class="row">
            <div class="col-md-8">
              <div class="table-responsive">
                <table class="table table-striped">
		  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Servings</th>
                      <th>Price</th>
                      <th>Calories</th>
                      <th>Protein</th>
                      <th>Fat</th>
                      <th>Carbohydrates</th>
                      <th>Sodium</th>
	              <th>Sugar</th>
                      <th>Fiber</th>
                    </tr>
		  </thead>
                  <tbody>
                    {{with .Foods}}
                    {{range .}}
                    <tr>
                      <td class="name">{{.Name}}</td>
                      <td>{{.Serving}}</td>
                      <td class="price">{{.Price}}</td>
                      <td>{{.Calories}}</td>
                      <td class="macro">{{.Protein}}</td>
	              <td class="macro">{{.Fat}}</td>
                      <td class="macro">{{.Carbohydrates}}</td>
                      <td class="macro">{{.Sodium}}</td>
                      <td class="macro">{{.Sugar}}</td>
                      <td class="macro">{{.Fiber}}</td>
                    </tr>
                    {{end}}
                    {{end}}
                  </tbody>
                </table>
              </div>
            </div><!-- col-md-8 -->
            <div class="col-md-4 nutrition">
              <h2>Your Nutrition</h2>
              {{with .Makeup}}
              <p>Cost: $<span class="price">{{.Price}}</span></p>
              <p>Calories: {{.Calories}}</p>
              <p>Protein: <span class="macro">{{.Protein}}</span></p>
              <p>Fat: <span class="macro">{{.Fat}}</span></p>
              <p>Carbs: <span class="macro">{{.Carbohydrates}}</span></p>
              <p>Fiber: <span class="macro">{{.Fiber}}</span></p>
              {{end}}
            </div>
          </div><!-- row -->
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/docs.js"></script>
  </body>
</html>
